.produtosContainer {
  padding: 30px 60px;
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.breadcrumb {
  color: #000000;
  font-size: 13px;
  margin-bottom: 5px;
}

.filtro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tituloPagina {
  font-size: 20px;
  font-weight: 600;
  color: #111;
}

.ordenacao {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.ordenacao label {
  font-size: 1.17em;
  color: #000 !important;
  font-weight: bold;
}

.ordenacao select {
  color: #000 !important;
  border: 1px solid #ddd;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 13px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.produtosLayout {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.filtros {
  width: 220px;
  border-right: 2px solid #e5e5e5;
  padding-right: 25px;
}

.filtroGrupo {
  margin-bottom: 25px;
}

.filtroGrupo h4 {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}

.filtroGrupo label {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #333;
  margin-bottom: 6px;
  cursor: pointer;
}

.filtroGrupo input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}

.filtroGrupo input[type="checkbox"]:checked::after {
  content: "✓";
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 14px;
  color: #a50000;
}

.produtosPrincipal {
  flex: 1;
}

.filtrosMobile {
  display: none;
}

/* ----------- MOBILE ----------- */
@media (max-width: 1150px) {
  .produtosContainer {
    background-color: #f5f5f5;
    font-family: "Poppins", sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
  }

  .mobile {
    flex-direction: row;
  }

  .filtros {
    display: none;
  }

  .ordenacao.desktop {
    display: none;
  }

  .filtro {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .filtrosMobile {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #000 !important;
  }

  .filtrosMobile label {
    font-weight: bold;
    color: #000000;
    font-size: 15px;
    margin-right: 10px;
  }

  .filtrosMobile select {
    padding: 10px 14px;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
    color: #000 !important;
    width: 100%;
    margin-bottom: 5px;
  }
}