.categories {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 50px;
}

.categories a {
    text-decoration: none;
    color: inherit;
}

.categoryItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    scale: 1;
    transition: transform 0.3s ease;
}

.categoryItem:hover {
    transform: scale(1.05);
}

.categoryItem img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 1150px) {
    .categoryItem img {
        width: 120px;
        height: 120px;
    }

    .categoryItem {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        cursor: pointer;
        scale: 1;
        transition: transform 0.3s ease;
        font-size: 110%;
        width: 45%;
    }

    .categories {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }
}