.asCategorias {
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
}

.divCategoriasPai {
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divCategoriasFilho {
    width: 100%;
    box-shadow: 0 0 5px black;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.boxNetos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.divCategoriasNetos {
    position: relative;
    overflow: hidden;
    width: 25%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.divCategoriasNetos img {
    width: 100%;
    filter: brightness(50%) blur(1px);
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.divCategoriasNetos:hover img {
    transform: scale(1.2);
}

.tituloCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 0 5px black;
    text-align: center;
    z-index: 2;
}

.divCategoriasNetos:hover .tituloCard {
    text-shadow: 0 0 10px black;
}

@media (max-width: 1150px) {

    .asCategorias {
        width: 120vw;
        padding: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: whitesmoke;
    }

    .divCategoriasNetos {
        width: 50%;
    }

    .tituloCard {
        font-size: 3vw;
    }

}