.main {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column
}

.carousel {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

.carousel img {
  width: 90vw;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.productCards {
  width: auto;
  max-width: 88vw;
  display: flex;
  flex-wrap: wrap;
  /* Permite múltiplas linhas */
  justify-content: center;
  /* Centraliza as linhas */
  gap: 1rem;
  /* Espaçamento entre os cards */
}

.brandSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(17, 17, 17, 0.1);
  scale: 1;
  width: auto;
  transition: box-shadow 0.3s ease;
  padding: 20px;
}

.brandSection:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.brandSection img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  filter: brightness(0.6);
  /* quanto menor, mais escuro */
}


/* Estilo do H1 (o nome da marca) */
.brandTitle {
  font-size: 38px;
  line-height: 1.2;
  margin: 0;
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
  width: 100%;
}

.brandTitle {
  color: #57010b;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Estilo da parte "BRAS" (verde) */
.brandPartGreen {
  color: #3b9c58;
}

/* Estilo da parte "MÉRICA" (gradiente) */
.brandPartGradient {
  background: linear-gradient(to right, #2baf5e, #000000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Estilo do H2 (o slogan) */
.sloganSubtitle {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  text-transform: none;
  text-align: center;
  /* Controla o espaçamento (zeramos a margem padrão do h2) */
  margin: 0;
  margin-top: 8px;
  /* Espaço entre o título e o slogan */
  width: 80vw;
  line-height: 1.3;
}

.trustSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 15px 20px;
  scale: 1;
  width: 100vw;
}

.trustItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  height: 75vh;
  width: 22vw;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  /* importante pra não "vazar" o zoom da imagem */
  transition: transform 0.4s ease, box-shadow 0.3s ease;
}

/* Efeito no card inteiro */
.trustItem:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

/* Zoom apenas na imagem (opcional, caso queira zoom só nela) */
.trustItem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.trustItem:hover img {
  transform: scale(1.1);
  object-position: top;
}

.bannerSection {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: 40vh;
  padding: 10px;
}

.bannerSection img {
  width: 38%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  scale: 1;
}

.bannerSection img:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}

@media (max-width: 1150px) {
  .productCards {
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center
  }

  .carousel {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .trustSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 15px 20px;
    scale: 1;
    width: 100vw;
    gap: 15px;
  }

  .trustItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    height: 20vh;
    width: 80vw;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    /* importante pra não "vazar" o zoom da imagem */
    transition: transform 0.4s ease, box-shadow 0.3s ease;
  }

  /* Efeito no card inteiro */
  .trustItem:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  }

  /* Zoom apenas na imagem (opcional, caso queira zoom só nela) */
  .trustItem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
    /* <-- Adicione esta linha */
    transition: transform 0.6s ease;
  }

  .bannerSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: auto;
    padding: 5px;
  }

  .bannerSection img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}