.nav {
    background-color: #ffffff;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    width: 100%;
    height: auto;
    padding: 15px 0;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.cardNavbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60px;
    cursor: pointer;
}

.cardNavbar img {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.cardNavbar span {
    font-size: 10px;
    height: 10px;
}

.categoriesSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

@media (max-width: 1150px) {

    .nav {
        background-color: #ffffff;
        height: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: black;
        width: 100%;
        height: auto;
        padding: 15px 0;
    }

    .cardNavbar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 60px;
        height: 60px;
        background: black;
        cursor: pointer;
        color: white;
        border-radius: 50%;
        text-decoration: none;
        transition: 0.3s;
    }

    .cardNavbar img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        margin-bottom: 6px;
        filter: brightness(0) invert(1);
    }

    .cardNavbar span {
        font-size: 8px;
    }

    .cardNavbar:hover {
        background: #333;
    }

    .nav {
        background-color: #ffff;
        height: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 0px;
        color: rgb(255, 255, 255);
        width: 100%;
        height: auto;
    }
}